* {
  padding: 0px;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
}
/*  nav bar style */
.nav-container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #fffbac;
}
.img-container {
  display: flex;
}
.happy {
  padding: 10px;
}
.menu-list {
  display: flex;
  list-style: none;
  cursor: pointer;
}
.menu-item {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}
/* Banner Style */
.banner-container {
  background-image: url(./assests/mbanner.jpg);

  position: absolute;
  width: 100%;
  height: 808px;

  background-repeat: no-repeat;
}
.banner-details {
  text-align: left;
  margin-left: 200px;
  margin-top: 80px;
  font-family: "Work Sans", sans-serif;
  color: #151414;
}
.banner-header {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
/* .paragrap {
  width: 494px;
  height: 78px;
} */
.banner-description {
  font-weight: 400;
  font-size: 20px;
  width: 494px;
  height: 78px;
  margin-bottom: 60px;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  padding: 10px 20px;
}
/* main part styling */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* future styling */
.about {
  display: flex;
  margin-top: 1000px;
  background: #fff8f3;
  gap: 85px;
}
.img {
  /* position: absolute; */
  width: 569px;
  height: 723.3px;
  left: 206px;
  top: 939px;
}
.myself {
  margin-bottom: 130px;
}
.about-myself {
  /* position: absolute; */
  width: 416px;
  height: 400px;
  left: 862px;
  top: 1178px;
}
.about-header {
  margin-top: 240px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 40px;

  width: 288px;
  height: 94px;
  left: 862px;
  top: 1178px;
  color: #151414;
}
.about-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.lists {
  list-style: none;
  gap: 8px;
}
/* my future plan style */
.skill-container {
  display: flex;
  gap: 85px;
  justify-content: center;
  align-items: center;
}
/* .what i do {
  margin-top: 130px;
} */
.section-title {
  margin-bottom: 30px;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}
.skill {
  text-align: center;
  justify-content: center;
  /* background: #ffffff; */
  /* box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); */
  border-radius: 5px;
  padding: 30px;
}
.image {
  justify-content: center;
}
.about-skill {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}
.motivation {
  margin-top: 130px;
}
.watch {
  background-image: url(./assests/watch.png), url(./assests/gradient2.png);
  /* linear-gradient(rgba(148, 0, 19, 0.4), rgba(161, 0, 0, 0.4)); */
  background-blend-mode: overlay;
  /* background-image: url(./assests/gradient1.png);
  background-blend-mode: overlay; */
  width: 1140px;
  height: 300px;
  margin-bottom: 130px;
}
.about-motivate {
  color: #ffffff;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.button-primary {
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  width: 160px;
  height: 55px;
  border-radius: 5px;
  background: #ffffff;
  border: 0;
  margin-top: 25px;
  margin-left: 65px;
}
/* footer styling */
.submission {
  background-color: #151414;
  height: 450px;
}
.sub {
  display: flex;
  gap: 330px;
  padding-top: 100px;
}
/* part-1 styling */
.part-1 {
  padding-left: 230px;
  width: 485px;
  height: 317px;
}
.future {
  color: #f8f8f8;

  width: 148px;
  height: 53px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 15px;
}
.future-description {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.email {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}
.phone {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}
/* part-2 styling */
.subscribe {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;

  color: #ffffff;
  margin-bottom: 30px;
}
input {
  width: 325px;
  height: 64px;
  padding-left: 20px;
  background-color: #151414;

  border-radius: 5px;
}
.button-prime {
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  width: 150px;
  height: 50px;

  background: #ffffff;
  border: 0;
  margin-top: 16px;
  padding: 2px;
}
.icon-div {
  gap: 20px;
}
.icon {
  display: flex;
  gap: 15px;
}
